

<body>

<!-- Page Content -->

    <div class="row">

        <div class="col-md-8">


                    <p></p>
                    <!-- Nombre -->
                    <label for="nombre-producto">
                        Nombre
                    </label>
                    <input
                            id="nombre-producto"
                            type="text"
                            placeholder="Pe. The Secret of Monkey Island"
                            class="u-full-width"
                            ng-model="product.name"
                            required>
                    <p></p>
                    <!-- Descripción -->
                    <label for="descript-product">
                        Description
                    </label>
                    <input
                            id="descript-product"
                            type="text"
                            placeholder="Pe. Aventura gráfica..."
                            class="u-full-width"
                            ng-model="product.description"
                            required>
                    <p></p>
                    <!-- Estado -->
                    <label>
                        State
                    </label>
                    <div>
                        <select ng-model="product.state">
                            <option value="selling">selling</option>
                            <option value="sold">sold</option>
                        </select>
                    </div>
            <p></p>
                    <!-- Precio -->
                    <label for="price-product">
                        Price
                    </label>
                    <input
                            id="price-product"
                            type="text"
                            placeholder="Pe. 10.5"
                            class="u-full-width"
                            ng-model="product.price"
                            required>

                    <h1></h1>
                    <!-- Botón para guardar producto -->
                    <button
                            ng-click="notificarTexto()"
                            ng-disabled="!puedoGuardar()"
                            >
                        Aceptar
                    </button>

                </div>

            </div>
        </div>
    </div>


</body>

</html>
