


<!-- Zona dinámica -->
<ng-outlet></ng-outlet>
<body>


<!-- Page Content -->
<div class="container">
    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Nuevo Producto</h1>
        </div>
    </div>
    <!-- /.row -->


    <div class="row">

        <div class="col-md-4">
            <h4>Imagen</h4>

            <image-picker
                    image-selected="$ctrl.seleccionarImagen(imageFile)"
                    image-deselected="$ctrl.deseleccionarImagen()"></image-picker>

            <h1></h1>

            <div>
                <!-- Categoría -->
                <label>
                    Category
                </label>
                <div>
                    <select ng-model="$ctrl.selectedCategory">
                        <option ng-repeat="category in $ctrl.categories" value="{{category.id}}">{{category.name}}</option>
                    </select>
                </div>
                <!-- Seller -->
                <label>
                    Vendedor
                </label>
                <div>
                    <select ng-model="$ctrl.selectedUser">
                        <option ng-repeat="user in $ctrl.users" value="{{user.id}}">{{user.name}}</option>
                    </select>
                </div>
            </div>

        </div>


        <div class="col-md-8">

            <alta-producto al-hacer-click="$ctrl.guardarProducto(product)"></alta-producto>

        </div>
     </div>
</div>

</body>


