
<!-- Zona dinámica -->
<ng-outlet></ng-outlet>
<body>


<!-- Page Content -->
<div class="container">
    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Nuevo Usuario</h1>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">

        <div class="col-md-4">

            <h4>Avatar</h4>

            <image-picker
                    image-selected="$ctrl.seleccionarImagen(imageFile)"
                    image-deselected="$ctrl.deseleccionarImagen()"></image-picker>
        </div>


        <div class="col-md-8">

            <alta-usuarios al-hacer-click="$ctrl.guardarUsuario(user)"></alta-usuarios>

        </div>
    </div>
</div>

</body>

