<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Whatapop - Vende lo que no necesitas</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/shop-homepage.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>



<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-3">
            <p class="lead">Los mejores productos</p>
            <p class="lead">Busca por categoría</p>
            <div>
                <select ng-model="selectedCategory">
                    <option value="0"></option>
                    <option ng-repeat="category in $ctrl.categories" value="{{category.name}}">{{category.name}}</option>
                </select>
            </div>
            <p></p>
            <p></p>
            <p class="lead">Busca por nombre</p>
            <input
                    id="filtro-productos"
                    type="text"
                    placeholder="p.e. Uncharted"
                    ng-model="filtroProducto">
        </div>




        <div class="col-md-9">

            <div class="row carousel-holder">

                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" src="http://placehold.it/800x300" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="http://placehold.it/800x300" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="http://placehold.it/800x300" alt="">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>

            </div>

            <div class="row">
                <div ng-repeat="product in $ctrl.products | filter: filtroProducto | filter: selectedCategory | orderBy: 'name'">
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">

                        <a ng-link="['ProductDetail', {id: product.id}]"><img ng-src="{{$ctrl.getRutaImagen(product.photos)}}" width="150" height="300"></a>
                        <div class="caption">
                            <h4><a ng-link="['ProductDetail', {id: product.id}]">{{product.name}}</a>
                            </h4>
                            <h4 class="pull-right">{{product.price | currency}}</h4>
                            <h4 class="glyphicon glyphicon-star"></h4>
                            <label>
                                <input type="checkbox" ng-model="favorito">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
<!-- /.container -->

<div class="container">

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Verónica Cordobés 2016</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

</body>

</html>
