<!-- Cabecera de la aplicación -->
<div class="container">
    <div class="row">
        <div class="twelve columns">
            <!-- Cabecera de la aplicación -->
            <header>
                <h1>Whatapop</h1>
            </header>
        </div>
    </div>

<!-- Barra de navegación -->
    <div class="row">
        <div class="twelve columns">
            <nav class="barra-navegacion">
                <ul>
                    <li>
                        <!-- Con ng-link establecemos el nombre de la ruta a navegar -->
                        <a ng-link="['Products']">Productos</a>
                    </li>
 <!--                   <li>
                        &lt;!&ndash;<a ng-link="['NuevaReceta']">Nueva Receta</a>&ndash;&gt;
                    </li>-->
                </ul>
            </nav>
        </div>
    </div>

    <!-- Zona dinámica -->
    <ng-outlet></ng-outlet>

</div>