.barra-navegacion ul {

    border-bottom: 1px solid #1eaedb;
}

.barra-navegacion li {
    height: 33px;
    display: inline-block;
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 20px;
}

.barra-navegacion li.seleccionada{
    border-top: 1px solid #1eaedb;
    border-left: 1px solid #1eaedb;
    border-right: 1px solid #1eaedb;
}

.barra-navegacion a {
    text-decoration: none;

}